:root {
    --bgColor: #D8D8D8;
    --purpleSelector: #90009E;
    --yellowSelector: #D5BD02;
    --greenSelector: #3CAA02;
    --blueSelector: #3562BE;
    --exactMatch: #000;
    --colorMatch: #fff;
}
